<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.celeth.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.celeth.springframework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="tegnxun"/>
        <property name="location" value="shenzhen"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.celeth.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="com.celeth.springframework.test.common.MyBeanFactoryPostProcessor"/>

</beans>